@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

main {
    font-family: "Pretendard";
}

a {
    text-decoration: none;
}

header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 375px;
    height: 44px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    display: block;
}

.cancel {
    color: rgb(38, 38, 38);
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.33px;
    text-align: left;
}

.recent {
    color: rgb(38, 38, 38);
    font-size: 16px;
    font-weight: 100;
    line-height: 21px;
    letter-spacing: -0.33px;
    text-align: left;

}

.recent i {
    margin-left: 8.5px;
}

.next {
    color: rgb(56, 151, 240);
    font-size: 16px;
    font-weight: 100;
    line-height: 21px;
    letter-spacing: -0.33px;
    text-align: left;
}


/* top-image */
/* image-content */
.top-image {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    box-sizing: border-box;
    width: 375px;
    margin-top: 44px;
    background-image: url("../image/photo/story1.svg");
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    padding: 10px;
}

.image-content {
    display: flex;
    gap: 10.5px;
}

.photo-grid {
    display: grid;
    position: absolute;
    box-sizing: border-box;
    width: 375px;
    top: 419px;
    grid-template-columns: repeat(4, 1fr);
    height: calc(100% - 463px);
    overflow-y: auto;
    overflow-x: hidden;
}

.photo-item {
    width: 93px;
    height: 93px;
}

.photo-item img {
    width: 100%;
    aspect-ratio: 1/1;
}

/* footer */
footer {
    font-family: "Pretendard";
    position: fixed;
    color: rgb(38, 38, 38);
    font-size: 16px;
    font-weight: 100;
    line-height: -1px;
    letter-spacing: -0.33px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    bottom: 0;
    height: 44px;
    width: 375px;
}

.footer-item {
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media (max-width: 420px) {
    main{
        height:100vh;
    }
    .contents{
        height:calc(100vh - 44px);
    }
}
@media(max-width:430px) and (min-height:900px){
    
    main{
        height:100vh;
    }
    .contents{
        height:calc(100vh - 44px);
    }
    .photo-grid{
        height:381px;
    }
}
