/* font family */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* body */
body {
    font-family: 'Pretendard-Regular';
    background: rgb(250, 250, 250);
}

/* header */
header {
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    padding: 0 18.25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 0 auto;
}

.header-right i {
    color: rgb(38, 38, 38);
}

.username {
    font-size: 16px;
}

.down-arrow {
    width: 9px;
    height: 16px;
    color: rgb(38, 38, 38);
    background-image: url(../image/icon/down-arrow.svg);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    object-fit: cover;

}

.header-left {
    font-size: 16px;
}


/* info */
.info {
    box-shadow: 0px 0.33px 0px 0px rgba(60, 60, 67, 0.29);
}

/* info-top */
.info-top {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.profile-img img {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
    border: 1.5px solid rgb(199, 199, 204);
}

.info-statistics {
    width: 205px;
    height: 36px;
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.statistics-item {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.statistics-top {
    color: gray;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 100;
    line-height: 21px;
    letter-spacing: -0.3px;
    text-align: center;
}

.statistics-bottom {
    color: rgb(38, 38, 38);
    font-family: Pretendard;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.1px;
    text-align: center;
}


/* info-name-bio */
.info-name-bio {
    width: 343px;
    height: 49px;
    margin: 0 auto;
}

.info-name {
    color: rgb(38, 38, 38);
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 100;
    line-height: -1px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 1px;
}

.info-bio {
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
}

.info-bio span {
    color: rgb(5, 56, 107);
}

/* edit button */
.edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 16px;
    height: 29px;
    box-sizing: border-box;
    border: 1px solid rgba(60, 60, 67, 0.18);
    border-radius: 6px;
    background: rgb(255, 255, 255);
    color: gray;
    font-size: 13px;
    font-weight: 100;
    text-align: center;
}

/* story */
.story_container {
    display: flex;
    overflow-x: auto;
    gap: 18px;
    padding: 0 15px 14px 15px;
}

.story_item {
    width: 64px;
    height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.story_img img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid rgb(199, 199, 204);
}

.new-story_img img {
    width: 56px;
    height: 56px;
    object-fit: scale-down;
    border-radius: 50%;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid rgb(199, 199, 204);
}

.story_title {
    color: rgb(38, 38, 38);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.01px;
    text-align: center;
}

/* main */
/* main-nav */
.main-nav {
    display: flex;
    width: 100%;
    height: 44px;
    justify-content: space-between;
    align-items: center;
}

.main-nav img {
    width: 24px;
    height: 26px;
    margin: auto auto;
}

.main-nav-left,
.main-nav-right{
    display: flex;
    height: 100%;
    justify-content: center;
    width: 186px;
}

.main-nav> :first-child {
    border-bottom: 1px solid black;
}

/* main-container */
.main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    height: calc(100vh - 457.4px);
    overflow-y: auto;
}

.main-item {
    width: 124px;
    height: 124px;
}

.main-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

footer div {
    box-sizing: border-box;
    width: 75px;
    height: 100%;
    color: rgb(38, 38, 38);
}


.home {
    background-image: url(../image/icon/home.svg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.search {
    background-image: url(../image/icon/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: 50% 25%;
}

.add-story {
    background-image: url(../image/icon/add-story.svg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.like {
    background-image: url(../image/icon/like.svg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.my-profile {
    background-image: url(../image/icon/my-profile.svg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}